# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=<SECRET_ed38ab1f>c389084882eca

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Mux
MUX_TOKEN_ID=
MUX_TOKEN_SECRET=
MUX_WEBHOOK_SECRET=

# Vercel Blob
BLOB_READ_WRITE_TOKEN=
